.call-modal {
    position: absolute;
    width: 400px;
    padding: 20px;
    left: calc(50vw - 200px);
    top: calc(50vh - 60px);
    border-radius: 5px;
    text-align: center;
    z-index: 6;
}

.call-modal .active {
    display: block;
    z-index: 10;
}

.call-modal .btn-action:not(.hangup){
    background-color: green;
}

.call-modal span.caller {
    color: blue;
}

.call-modal p {
    font-size: 1.5em;
}
